<ion-content>
  <ion-card class="cards">
    <ion-card-content class="ion-text-center">
      <ion-grid>
          <ion-col>
            <ion-text color="dark" size="large"><h1 class="titulo">TReviews</h1></ion-text>
          </ion-col>
              <ion-button expand="block" class="customb" href="login">
                Log In
              </ion-button>
              <ion-button expand="block" class="customb" href="register">
                Register
              </ion-button>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
