<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="javascript:history.back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
      <h1 class="ion-text-center">
        Edit Profile
      </h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card class="cards">
        <ion-card-content>
          <ion-input type="text" placeholder="Username" #username></ion-input>
          <ion-input type="text" placeholder="Bio" #bio></ion-input>
          <ion-input type="email" placeholder="Email" #correo></ion-input>
          <ion-input type="text" placeholder="Full Name" #nombre></ion-input>
          <ion-button expand="block" (click)="editUser(username, bio, correo, nombre)" class="cbutton">
            Save
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
