<ion-footer>
  <ion-toolbar color="light" class="ion-text-center">
    <ion-buttons>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button href="dashboard">
              <ion-icon name="home-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button href="search">
              <ion-icon name="search"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button href="profile">
              <ion-icon name="person"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="cerrarSesion()">
              <ion-icon name="log-out"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>