<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="javascript:history.back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
      <h1 class="ion-text-center">
        Create Commentary
      </h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-textarea class="customtext" type="text" placeholder="Commentary" rows="7" #contenido></ion-textarea>
            <ion-button expand="block" (click)="cCommentary()">
              Publish
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
