<ion-header>
  <ion-toolbar>
    <h1 class="ion-text-center">Top 20 Popular</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>
  <ion-item *ngFor="let movie of movies" [routerLink]="['/movie/' + movie.id]">
    <ion-card>
      <ion-card-content class="ion-text-center">
        <img src="{{IMG_URL}}{{movie.poster_path}}" alt="">
        <ion-card-title>
          {{movie.title}}
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-item>
 </ion-list>
</ion-content>

<app-tabs></app-tabs>