<ion-content>
        <div *ngFor="let u of user">
          <ion-card>
            <ion-card-content class="ion-text-center">
              <ion-card-title>
                <h1>
                  {{u.username}}
                </h1>
              </ion-card-title>
              <div class="nombre">
                <ion-text color="dark" >
                  <h2>
                    {{u.nombre}}
                  </h2>
                </ion-text>
              </div>
              <div class="bio">
                <ion-text>
                  {{u.bio}}
                </ion-text>
              </div>
              <ion-button expand="block" href="" class="cb" [routerLink]="['/editp/' + u.username]">
                Edit Profile
              </ion-button>
            </ion-card-content>
          </ion-card>
        </div>

  <ion-card>
    <ion-card-content>
        <ion-item *ngFor="let review of reviews" [routerLink]="['/review/' + review.id_resena]">
          <ion-card class="card-center">
            <ion-card-content class="ion-text-center">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-card-title>
                      <h1>
                        {{review.username}}
                      </h1>
                    </ion-card-title>
                  </ion-col>
                  <ion-col>
                    <ion-card-title color="primary">
                      <h1>
                        ({{review.puntaje}})
                      </h1>
                    </ion-card-title>
                  </ion-col>
                  <ion-col>
                    <ion-text>
                      {{review.fecha}}
                    </ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-tabs></app-tabs>