<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="javascript:history.back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div *ngIf="movie">
      <h1 class="ion-text-center">
        {{movie.title}}
      </h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="movie">
    <ion-card>
      <ion-card-content class="ion-text-center">
        <img src="{{IMG_URL}}{{movie.poster_path}}" alt="">
        <ion-card-title>
          <h1>
            {{movie.title}}
          </h1>
        </ion-card-title>
        <div>
          <ion-text color="dark">
            <h2>
              {{movie.release_date}}
            </h2>
          </ion-text>
        </div>
        <div>
          <ion-text>
            {{movie.overview}}
          </ion-text>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  
  

  <ion-card>
    <ion-card-content>
      <div *ngIf="movie">
        <ion-button expand="block" href="creview/{{movie.id}}">
          Create Review
        </ion-button>
      </div>
        <ion-item *ngFor="let review of reviews" [routerLink]="['/review/' + review.id_resena]">
          <ion-card class="card-center">
            <ion-card-content class="ion-text-center">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-card-title>
                      <h1>
                        {{review.username}}
                      </h1>
                    </ion-card-title>
                  </ion-col>
                  <ion-col>
                    <ion-card-title color="primary">
                      <h1>
                        ({{review.puntaje}})
                      </h1>
                    </ion-card-title>
                  </ion-col>
                  <ion-col>
                    <ion-text>
                      {{review.fecha}}
                    </ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-tabs></app-tabs>