.nombre{
    margin-top: 10px;
}

.bio{
    margin-top: 30px;
    margin-bottom: 30px;
}

.cb{
    margin: 20px
}

.card-center{
    width:90%; // adjust width on your ion-card suitable on your screen
    display:block;
    margin: 1 auto;
}

.card-profile{
    width: 90%;
    height: 70%;
}